# Folders

.pytest_cache/*
.vscode/*
__pycache__/*

conf/token.txt
conf/cred.json

divers/*

htmlcov/*

doc/*

env/*

mgmt/*

.coverage
token.txt
nltk_tries_out.py

*.exe
*.pyc
