# Folders

# Cache folders
.pytest_cache/*
.vscode/*
__pycache__/*
src/data/__pycache__/*
node_modules/*

# ----- bin -----
bin/sonar.sh
bin/env.sh

# ----- build -----
build/
dist/
src/vocabulary.egg-info/

# ----- conf -----
conf/*

# ----- data -----
data/*
!data/queries/*

# ----- divers -----
divers/*
doc/*

# ----- logs -----
logs/*

# ----- venv -----
venv/*

# ----- mgmt -----
mgmt/*

# ----- tests -----
.coverage
coverage/*

token.txt
cred.json
nltk_tries_out.py
common/secret.yaml
*.exe
*.pdf
*.png
*.pyc
*.txt
*.rdb
jest.config.js
package-lock.json
package.json
mypy.ini

