# Folders

.pytest_cache/*
.vscode/*
__pycache__/*
conf/*
data/__pycache__/*
divers/*
doc/*
env/*
htmlcov/*
mgmt/*
src/data/__pycache__/


.coverage
token.txt
cred.json
nltk_tries_out.py
*.exe
*.pyc
