
/* MAIN */

.button {
    background-color: rgba(178, 128, 34, 0.7);
    border: 1px solid rgb(254, 161, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    /* font-weight: bold; */
    margin: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background-color: rgb(212, 124, 23);
    color: rgb(255, 255, 255);
    /* border: 2px solid rgb(254, 161, 0); */
}


/* INTERRO */
.button.green {
    background-color: rgba(33, 172, 61, 0.7);
    border: 1px solid rgb(0, 255, 47);
    color: white;
    width: 30%;
}

.button.green:hover {
    background-color: #3d8b40;
    color: rgb(255, 255, 255);
}

.button.red {
    background-color: rgba(172, 33, 33, 0.7);
    border: 1px solid rgb(255, 0, 0);
    color: white;
    width: 30%;
}

.button.red:hover {
    background-color: #c93b34;
}

.middle_button {
    width: 200px;
}

.quit-button {
    margin-left: auto;
    background-color: rgba(178, 128, 34, 0.704);
}

.quit-button:hover {
    background-color: rgb(212, 124, 23);
}

/* .rattrap_button {
    font-size: 20px;
} */



/* --------------------------------- */
/*   L I S T   O F   B U T T O N S   */
/* --------------------------------- */

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    width: 100%;
}
