
.button {
    padding: 10px 20px;
    background-color: rgba(0, 128, 255, 0.5); /* Semi-transparent blue color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
}

.button:hover {
    background-color: rgba(0, 128, 255, 0.8);
}

.button.green {
    background-color: #4CAF50;
    color: white;
}

.button.green:hover {
    background-color: #3d8b40;
}

.button.red {
    background-color: #f44336;
    color: white;
}

.button.red:hover {
    background-color: #c93b34;
}

.middle_button {
    width: 200px;
}

.quit-button {
    margin-left: auto;
}

.rattraps_button {
    font-size: 20px;
}



/* --------------------------------- */
/*   L I S T   O F   B U T T O N S   */
/* --------------------------------- */

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-list button {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(0, 128, 255, 0.5); /* Semi-transparent blue color */
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.button-list button:hover {
    background-color: rgba(0, 128, 255, 0.8);
}