
body {
    background-attachment: fixed;
    background-image: url('pictures/wild_forest_11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #6a4000; */
    background-size: cover;
}


p {
    position: relative;
    z-index: 1; /* Ensure the text is above the rectangle */
}


label {
    display: block;
    margin-bottom: 5px;
}

/* styles/main.css */
.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.left-align {
    text-align: left;
}


/*   _____   */
/*  /^   _\  */
/* | o , o | */
/*  \  _  /  */


.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}


.white-text {
    color: #ffffff;
}

.rounded-input {
    border-radius: 20px; /* Adjust the value to control the roundness of the corners */
    padding: 8px; /* Adjust the padding as needed */
    border: 1px solid #ccc; /* Optional: Add border for better appearance */
    width: 200px; /* Adjust the width as needed */
}

/* @keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
} */

/* Slide in effect */
/* #table-container {
    animation: slideIn 1s ease-out;
} */