
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #9e9e9e;
}


label {
    display: block;
    margin-bottom: 5px;
}


.container {
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.left-align {
    text-align: left;
}


/*   _____   */
/*  /^   _\  */
/* | o , o | */
/*  \  _  /  */


.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.flag-box {
    display: flex;
    align-items: center;
}

.flag {
    font-size: 20px;
    margin-right: 5px;
}

.flag-us {
    color: #0055a4;
    font-weight: bold;
}

.flag-fr {
    color: #0055a4;
    font-weight: bold;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}


.flag-latin {
    background-color: red;
}