<!DOCTYPE html>
<html>

    <head>
        <title>Add a word</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/errors.css">
        <script type="text/javascript" src="/static/scripts/main.js"></script>
        <script type="text/javascript" src="/static/scripts/pages/users.js"></script>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div>
                <label for="input2">Choose an existing database</label>
                <select id="menu">
                    <!-- Options will be dynamically added here using JavaScript -->
                </select>
            </div>

        <div class="row">
            <button class="button" onclick="chooseDatabase(`{{ selected_database|safe }}`)">Choose database</button>
        </div>

        <div class="row">
            <button class="button quit-button" onclick="goToUserSpace()">Quit</button>
        </div>
    </div>
</body>

</html>
