<!DOCTYPE html>
<html>

<head>
    <title>Add a word</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/users.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="flag-box">
                <label for="input1">User name</label>
                <input type="text" id="content_box1" name="content_box1">
            </div>
        </div>
        <div class="row"></div>
            <div class="flag-box">
                <label for="input2">Password</label>
                <input type="text" id="content_box2" name="content_box2">
            </div>
        </div>
        <div class="row">
            <button class="button" onclick="createAccount(`{{ content_box1|safe }}`, `{{ content_box2|safe }}`)">Create account</button>
        </div>
        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
