<!DOCTYPE html>
<html>

<head>
    <title>Add a word</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/errors.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/users.js"></script>
</head>

<body>
    <div class="container">
        <form id="signInForm">
            <div class="row">
                <label class="white-text" for="inputName">User name</label>
                <input type="text" id="inputName" name="inputName" required>
            </div>
            <div class="row">
                <label class="white-text" for="input2">Password</label>
                <input type="inputPassword" id="inputPassword" name="inputPassword" required>
            </div>
            <div class="row">
                <button type="button" class="button" onclick="createAccount(`{{ token }}`)">Create account</button>
            </div>
        </form>
        <p class="white-text">Do NOT store any confidential data in this app.</p>
        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
