<!DOCTYPE html>
<html>

    <head>
        <title>Add a word</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/errors.css">
        <script type="text/javascript" src="/static/scripts/main.js"></script>
        <script type="text/javascript" src="/static/scripts/pages/users.js"></script>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div>
                <label for="inputName">User name</label>
                <input type="text" id="inputName" name="inputName">
            </div>
        </div>
        <div class="row"></div>
            <div>
                <label for="input2">Password</label>
                <input type="inputPassword" id="inputPassword" name="inputPassword">
            </div>
        </div>
        <div class="row"></div>
            <div>
                <label for="input3" id="errorMessage" name="errorMessage" class="error-message">{{ errorMessage }}</label>
            </div>
        <div class="row">
            <button class="button" onclick="createAccount(`{{ token }}`)">Create account</button>
        </div>
        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
