<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- Title -->
    <title>Tableau de bord</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
</head>

<body data-token="{{ token }}">
    <div class="container">
        <h1 class="white-text">Tableau de bord</h1>

        <div id="plotly-graph-container">
            {{ graph_1|safe }}
        </div>

        <div id="plotly-graph-container">
            {{ graph_2|safe }}
        </div>

        <div id="plotly-graph-container">
            {{ graph_3|safe }}
        </div>

        <div id="plotly-graph-container">
            {{ graph_4|safe }}
        </div>

        <div id="plotly-graph-container">
            {{ graph_5|safe }}
        </div>

        <div class="row">
            <button id="userSpaceButton" class="button">Quit</button>
        </div>
    </div>
</body>

</html>