<!DOCTYPE html>
<html>

<head>

    <title>Test Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/interro.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/users.js"></script>

</head>

<body>

    <div class="container">
    
        <h1>Settings</h1>

        <div class="row">
            <button class="button quit-button" onclick="goToUserSpace(`{{ userName }}`, `{{ userPassword }}`)">Quit</button>
        </div>

    </div>

</body>

</html>
