<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Sign-in</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/errors.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("inputPassword").value = "";
        });
    </script>
</head>

<body data-token="{{ token }}">
    <div class="container">

        <form id="signInForm">
            <div class="row">
                <label class="white-text" for="inputName">User name</label>
                <input type="text" id="inputName" name="inputName" class="rounded-input" required>
                {% if nameUnknownErrorMessage %}
                    <p class="error-message">{{ nameUnknownErrorMessage }}</p>
                {% endif %}
            </div>
            <div class="row">
                <label class="white-text" for="input2">Password</label>
                <input type="inputPassword" id="inputPassword" name="inputPassword" class="rounded-input" autocomplete="off" required>
                {% if passwordIncorrectErrorMessage %}
                    <p class="error-message">{{ passwordIncorrectErrorMessage }}</p>
                {% endif %}
            </div>
            <div class="row">
                <button id="authenticateButton" class="button">Sign-in</button>
            </div>
        </form>

        <div class="row">
            <button id="quitButton" class="button quit_button">Quit</button>
        </div>
    </div>

    <script>
        window.onload = function() {
            document.getElementById("inputPassword").value = "";
        };
    </script>

</body>
</html>
