<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Inscription</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/errors.css">
    <link rel="stylesheet" href="/static/styles/text.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">

        <form id="signUpForm">
            <div class="row">
                <!-- <label class="white-text" for="inputName">Nom d’utilisateur</label> -->
                <input
                    class="rounded-input"
                    id="inputName"
                    name="inputName"
                    placeholder="Nom d'utilisateur *"
                    required
                    type="text"
                >
            </div>

            <div class="row">
                <input
                    class="rounded-input"
                    id="inputPassword"
                    name="inputPassword"
                    placeholder="Mot de passe *"
                    required
                    type="password"
                >
            </div>

            {% if errorMessage %}
                <p class="error-message p-background">{{ errorMessage }}</p>
            {% endif %}

            <div class="row">
                <button id="signUpButton" class="button">Inscription</button>
            </div>
        </form>

        <div class="row">
            <button id="quitButton" class="button">Quitter</button>
        </div>
    </div>
</body>

</html>
