<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Connexion</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/errors.css">
    <link rel="stylesheet" href="/static/styles/forms.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("inputPassword").value = "";
        });
    </script>
</head>

<body data-token="{{ token }}">
    <div class="container">

        <form id="signInForm">
            <div class="row">
                <input
                    id="inputName"
                    name="inputName"
                    class="rounded-input"
                    type="text"
                    placeholder="Nom d'utilisateur *"
                    required
                >
            </div>
            <div class="row">
                <input
                    id="inputPassword"
                    name="inputPassword"
                    class="rounded-input"
                    type="password"
                    autocomplete="off"
                    placeholder="Mot de passe *"
                    required
                >
                {% if errorMessage %}
                    <p class="error-message">{{ errorMessage }}</p>
                {% endif %}
            </div>
            <div class="row">
                <button id="signInButton" class="button">Connexion</button>
            </div>
        </form>

        <div class="row">
            <button id="quitButton" class="button quit_button">Quitter</button>
        </div>
    </div>

    <script>
        window.onload = function() {
            document.getElementById("inputPassword").value = "";
        };
    </script>

</body>
</html>
