<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Sign-up</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/errors.css">
    <link rel="stylesheet" href="/static/styles/forms.css">
    <!-- JS -->
    <script src="/static/scripts/api/main.js"></script>
    <script src="/static/scripts/api/users.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <form id="signInForm">
            <div class="row">
                <label class="white-text" for="inputName">User name</label>
                <input type="text" id="inputName" name="inputName" class="rounded-input" required>
                {% if errorMessage %}
                    <p class="error-message">{{ errorMessage }}</p>
                {% endif %}
            </div>
            <div class="row">
                <label class="white-text" for="input2">Password</label>
                <input type="inputPassword" id="inputPassword" name="inputPassword" class="rounded-input" required>
            </div>
            <div class="row">
                <button type="button" class="button" onclick="createAccount(`{{ token }}`)">Sign-up</button>
            </div>
        </form>
        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
