<!DOCTYPE html>
<html>

<head>
    <title>Vocabulary</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/root.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/database.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/interro.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/users.js"></script>
</head>

<body>
    <div class="container">
        <h1>Welcome {{ userName }}!</h1>
        <div class="button-list">
            <button onclick="goToInterroSettings(`{{ token }}`)">Interroooo !!!</button>
            <button onclick="goToUserDatabases(`{{ token }}`)">Databases</button>
            <button onclick="goToUserDashboards(`{{ token }}`)">Dashboard</button>
            <button onclick="goToUserSettings(`{{ token }}`)">Settings</button>
            <button onclick="goToRoot()">Sign-out</button>
        </div>
    </div>
</body>

</html>
