<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Your space</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/api/main.js"></script>
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/database.js"></script>
    <script type="module" src="/static/scripts/ui/interro.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <h1 class="white-text">Welcome {{ user_name }}</h1>
        <div class="button-list">
            <button id="interroButton" class="button">Interroooo !!!</button>
            <button id="addWordsButton" class="button">Add words</button>
            <button id="dashboardButton" class="button">Dashboard</button>
            <button id="userSettingsButton" class="button">User settings</button>
            <button id="quitButton" class="button">Sign-out</button>
        </div>
    </div>
</body>

</html>
