<!DOCTYPE html>
<html>

<head>

    <title>Test Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/interro.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/interro.js"></script>

</head>

<body>

    <div class="container">
    
        <h1>Welcome to my vocabulary application!</h1>

        <p>This application allows you to review words in a foreign language.</p>

        <p>For instance, each time you discover a new word, add it to the app along with its translation.</p>
        <p>The app will then ask you, say, 10 random words each day.</p>

        <p>As you progress, the words you retain well will be archived, while those you have difficulties with will be revisited more frequently.</p>

        <p>And in the end, all of these words will be in your memory!</p>

        <p>Happy learning!</p>

        <p>Do NOT store any confidential data in this app. Data storage AND data exchanges are currently NOT secure.</p>

        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>

    </div>

</body>

</html>
