<!DOCTYPE html>
<html>
<head>
    <title>Test Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/database.css">
    <script type="text/javascript" src="/static/database.js"></script>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="flag-box">
                <label for="input1">English</label>
                <input type="text" id="input1" name="input1">
            </div>
            <div class="flag-box">
                <input type="text" id="input2" name="input2">
                <label for="input2"> Français</label>
            </div>
        </div>

        <div class="row">
            <button class="button" onclick="sendUserAnswer({{ input1 }}, {{ input2 }})">Add word</button>
        </div>

        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>

    </div>
</body>
</html>
