<!DOCTYPE html>
<html>

<head>

    <title>Test Configuration</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/interro.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/interro.js"></script>

</head>

<body>

    <div class="container">
    
        <h1>Vous êtes perdus ...</h1>

        <h1>Pas de chance, hein ?</h1>

    </div>

</body>

</html>
