<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Help!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script src="/static/scripts/api/main.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
    
        <h1 class="white-text">Vous êtes perdus ...</h1>

        <h1 class="white-text">Pas de chance, hein ?</h1>

    </div>
</body>

</html>
