<!DOCTYPE html>
<html>

<head>
    <title>Vocabulary</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/root.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/users.js"></script>
</head>

<body>
    <div>
        <div class="container">

            <h1>Vocabulary</h1>

            <h3>Keep your words</h3>

            <div class="button-list">
                <button class="button" onclick="interroGuest(`{{ token }}`)">Try</button>
                <button class="button" onclick="signIn(`{{ token }}`)">Sign in</button>
                <button class="button" onclick="signUp(`{{ token }}`)">Sign up</button>
                <button class="button" onclick="aboutTheApp(`{{ token }}`)">About</button>
                <button class="button" onclick="help(`{{ token }}`)">Help</button>
            </div>

        </div>
        <p>Do NOT store any sensitive data on this app!</p>
    </div>
</body>

</html>
