<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Your App</title>
    <link rel="stylesheet" type="text/css" href="/static/welcome.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the vocabulary application</h1>
        <ul class="link-list">
            <p><a href="/get_started">Get started</p>
            <p><a href="/interro_settings">Interrooo !!!</a></p>
            <p><a href="/database">Vocabulary</a></p>
            <p><a href="/dashboard">Dashboard</a></p>
            <p><a href="/settings">Settings</a></p>
        </ul>
    </div>
</body>
</html>
