<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Vocabulary</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/root.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/welcome.js"></script>
</head>

<body data-token="{{ token }}">
    <div>
        <div class="container">

            <h1 class="white-text">Vocabulary</h1>

            <h3 class="white-text">Keep your words</h3>

            <div class="button-list">
                <button id="guestButton" class="button">Try</button>
                <button id="signInButton" class="button">Sign in</button>
                <button id="signUpButton" class="button">Sign up</button>
                <button id="aboutButton" class="button">About</button>
                <button id="helpButton" class="button">Help</button>
            </div>

        </div>

    </div>
</body>

</html>
