<!DOCTYPE html>
<html>

<head>
    <title>Interro!</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/interro.css">
    <script type="text/javascript" src="/static/scripts/interro.js"></script>
    <script type="text/javascript" src="/static/scripts/users.js"></script>
</head>

<body>
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar full" style="width: {{ progressPercent }}%;" id="progress-bar"></div>
        </div>
        <div class="white-text">
            <p>{{ count }} / {{ numWords }}</p>
        </div>
        <div class="row white-text">
            <p>What is the translation for:</p>
        </div>
        <div class="row">
            <div class="flag-box">
                <div class="box">
                    {{ content_box1 }}
                </div>
            </div>
            <div class="flag-box">
                <div class="box">
                    {{ content_box2 }}
                </div>
            </div>
        </div>
        <div class="row white-text">
            <p>Did you get it?</p>
        </div>
        <div class="row">
            <button class="button green" id="yes-button" onclick="sendUserAnswer(`{{ token }}`, 'Yes', `{{ count }}`, `{{ numWords }}`, `{{ score }}`, `{{ content_box1|safe }}`, `{{ content_box2|safe }}`)">Yes</button>
            <button class="button red" id="no-button" onclick="sendUserAnswer(`{{ token }}`, 'No', `{{ count }}`, `{{ numWords }}`, `{{ score }}`, `{{ content_box1|safe }}`, `{{ content_box2|safe }}`)">No</button>
        </div>
        <div class="row">
            <button class="button quit-button" onclick="goToUserSpace(`{{ userName }}`)">Quit</button>
        </div>
    </div>
</body>

</html>
