<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro !</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/icons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/interro.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
</head>

<body data-token="{{ token }}">
    <script>
        // Declare HTML page variables to the JS file that will call them
        const interroCategory = `{{ interroCategory }}`;
        const testLength = `{{ testLength }}`;
        const interroDict = `{{ interroDict }}`;
        const index = `{{ index }}`;
        const faultsDict = `{{ faultsDict }}`;
        const perf = `{{ perf }}`;
        const count = `{{ count }}`;
        const score = `{{ score }}`;
        const content_box1 = `{{ content_box1|safe }}`;
        const content_box2 = `{{ content_box2|safe }}`;
        const language = `{{ language|safe }}`;
    </script>
    
    <div class="container">
        <div class="white-text">
            <p>{{ count }} / {{ testLength }}</p>
        </div>

        <div class="progress-container">
            <div class="progress-bar" style="width: {{ progressPercent }}%;" id="progress-bar"></div>
        </div>

        <div class="row">
            <p class="white-text">Quelle traduction donnez-vous pour :</p>
        </div>

        <div class="row">
            <div class="flag-box">
                <div class="box rounded-input">
                    {{ content_box1 }}
                </div>
            </div>
            <div class="flag-box">
                <div class="box rounded-input">
                    {{ content_box2 }}
                </div>
            </div>
        </div>
        <div class="row">
            <p class="white-text">Vous l’aviez ?</p>
        </div>
        <div class="row">
            <button id="yesButton" class="button green">Oui</button>
            <button id="noButton" class="button red">Non</button>
        </div>
        <div class="row">
            <button id="userSpaceButton" class="button">Quitter</button>
        </div>
    </div>
</body>

</html>
