<!DOCTYPE html>
<html>
    
<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/users.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <div class="row white-text">
            <h1>Score: {{ score }} / {{ numWords }}</h1>
        </div>
        <div class="row white-text">
            <p>You've found all of them, congratulations!</p>
        </div>
        <div class="row">
            <button id="userSpaceButton" class="button">Back to user space</button>
        </div>
    </div>
</body>

</html>