<!DOCTYPE html>
<html>
    
<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro !</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/tables.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/users.js"></script>
    <script type="module" src="/static/scripts/ui/interro.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">

        <div class="row white-text">
            <h1>Score: {{ score }} / {{ testLength }}</h1>
        </div>

        <div class="row">
            <p class="white-text">Oh, vous les avez tous trouvés, bravo !</p>
        </div>

        <div id="table-container"></div>

        <script type="application/json" id="table-data">
            {
                "headers": {{ headers | tojson }},
                "rows": {{ rows | tojson }}
            }
        </script>

        <div class="row">
            <button id="userSpaceButton" class="button">Quitter</button>
        </div>
    </div>
</body>

</html>