<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/forms.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script src="/static/scripts/api/interro.js"></script>
    <script src="/static/scripts/api/users.js"></script>
    <script src="/static/scripts/ui/interro.js"></script>

</head>

<body data-token="{{ token }}">
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar full" style="width: {{ progressPercent }}%;" id="progress-bar"></div>
        </div>

        <div class="white-text">
            <p>{{ count }} / {{ numWords }}</p>
        </div>

        <div class="row white-text">
            <p>What is the translation for:</p>
        </div>

        <div class="row">
            <div class="flag-box">
                <div class="box rounded-input">
                    {{ content_box1 }}
                </div>
            </div>
            <div class="flag-box">
                <div class="box rounded-input">
                    ?
                </div>
            </div>
        </div>

        <div class="row">
            <button class="button middle_button" onclick="showTranslation(`{{ token }}`, `{{ numWords }}`, `{{ count }}`, `{{ score }}`)">Show translation</button>
        </div>

        <div class="row">
            <button class="button quit-button" onclick="goToUserSpace(`{{ token }}`)">Quit</button>
        </div>

    </div>
</body>

</html>
