<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro !</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/interro.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <div class="row">
            <h1 class="white-text">Votre score: {{ testScore }} / {{ testLength }}</h1>
        </div>

        <div class="row">
            <button id="rattrapButton" class="button rattrap_button">Passer le rattrapage</button>
        </div>

        <div class="row">
            <button id="userSpaceButton" class="button">Quitter</button>
        </div>
    </div>

    <script>
        const databaseName = `{{ databaseName }}`;
        const faultsDict = `{{ faultsDict }}`;
        const testIndex = `{{ testIndex }}`;
        const interroCategory = `{{ interroCategory }}`;
        const interroDict = `{{ interroDict }}`;
        const oldInterroDict = `{{ oldInterroDict }}`;
        const testScore = `{{ testScore }}`;
        const testLength = `{{ testLength }}`;
        const testType = `{{ testType }}`;
    </script>
</body>

</html>
