<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script src="/static/scripts/api/interro.js"></script>
    <script src="/static/scripts/api/users.js"></script>
</head>

<body>
    <div class="container">
        <div class="row white-text">
            <h1>Score: {{ score }} / {{ numWords }}</h1>
        </div>
        <div class="row">
            <button class="button rattraps_button" onclick="launchRattraps(`{{ token }}`, `{{ newTotal }}`, `{{ newCount }}`, `{{ newScore }}`)">Take a catch-up test</button>
        </div>
        <div class="row">
            <button class="button" onclick="goToUserSpace(`{{ token }}`)">Quit</button>
        </div>
    </div>
</body>

</html>
