<!DOCTYPE html>
<html>
    
<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Paramètres</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/errors.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/interro.js"></script>
    <script type="module" src="/static/scripts/ui/users.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <form>
            <div class="row">
                <label class="white-text" for="testType">Choisir un dictionnaire</label>
            </div>

            <div class="row">
                <select id="databaseName" name="databaseName" class="dropdown-container rounded-input" required>
                    {% for database in databases %}
                        <option value="{{ database }}">{{ database }}</option>
                    {% endfor %}
                </select>

                {% if emptyTableErrorMessage %}
                    <p class="error-message">{{ emptyTableErrorMessage }}</p>
                {% endif %}
            </div>

            <div class="row">
                <label class="white-text" for="testLength">Nombre de questions</label>
            </div>

            <div class="row">
                <select id="testLength" name="testLength" class="dropdown-container rounded-input" required>
                    <option value="100">100</option>
                    <option value="50">50</option>
                    <option value="20">20</option>
                    <option value="10">10</option>
                    <option value="2">2</option>
                </select>
            </div>
        </form>

        <div class="row">
            <button id="sendUserSettingsButton" class="button">Interro !</button>
        </div>

        <div class="row">
            <button id="userSpaceButton" class="button">Quitter</button>
        </div>
    </div>

    <script>
        const testType = "version";
    </script>
</body>

</html>
