<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Guest interro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/forms.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script src="/static/scripts/api/main.js"></script>
    <script src="/static/scripts/api/guest.js"></script>
    <script src="/static/scripts/ui/guest.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar full" style="width: {{ progressPercent }}%;" id="progress-bar"></div>
        </div>

        <div>
            <p class="white-text">{{ count }} / {{ numWords }}</p>
        </div>

        <div class="row">
            <p class="white-text">What is the translation for:</p>
        </div>

        <div class="row">
            <div class="flag-box">
                <div class="box rounded-input">
                    {{ content_box1 }}
                </div>
                <span class="flag">{{ flag|safe }}</span>
            </div>
            <div class="flag-box">
                <span class="flag flag-fr">&#x1F1EB;&#x1F1F7;</span>
                <div class="box rounded-input">
                    {{ content_box2 }}
                </div>
            </div>
        </div>

        <div class="row">
            <p class="white-text">Did you get it?</p>
        </div>

        <div class="row">
            <button class="button green" id="yes-button" onclick="sendUserAnswer(
                'Yes', `{{ count }}`, `{{ numWords }}`, `{{ score }}`, `{{ content_box1|safe }}`,`{{ content_box2|safe }}`, `{{ token }}`, `{{ language|safe }}`
                )">Yes</button>
            <button class="button red" id="no-button" onclick="sendUserAnswer(
                'No', `{{ count }}`, `{{ numWords }}`, `{{ score }}`, `{{ content_box1|safe }}`, `{{ content_box2|safe }}`, `{{ token }}`, `{{ language|safe }}`
                )">No</button>
        </div>

        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>

    </div>
</body>

</html>
