<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro invité</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/tables.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/guest.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">

        <div class="row white-text">
            <h1>Score: {{ testScore }} / {{ testLength }}</h1>
        </div>

        <div class="row white-text">
            <p class="white-text">Oh, vous les avez tous trouvés, bravo !</p>
        </div>

        <div id="table-container"></div>

        <script type="application/json" id="table-data">
            {
                "headers": {{ headers | tojson }},
                "rows": {{ rows | tojson }}
            }
        </script>

        <div class="row">
            <button id="quitButton" class="button quit_button">Quitter</button>
        </div>
    </div>
</body>

</html>