<!DOCTYPE html>
<html>
    
<head>
    <title>Translation Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="row white-text">
            <h1>You have found all of them, congratulations!</h1>
        </div>
        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>