<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro invité</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <div class="row white-text">
            <h1">Oh, vous les avez tous trouvés, bravo !</h1>
        </div>
        <div class="row">
            <button id="quitButton" class="button quit_button">Quitter</button>
        </div>
    </div>
</body>

</html>