<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro invité</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/icons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/guest.js"></script>
</head>

<body data-token="{{ token }}">
    <script>
        // Declare HTML page variables to the JS file that will call them
        const numWords = `{{ numWords }}`;
        const count = `{{ count }}`;
        const score = `{{ score }}`;
        const language = `{{ language|safe }}`;
    </script>

    <div class="container">
        <div class="progress-container">
            <div class="progress-bar full" style="width: {{ progressPercent }}%;" id="progress-bar"></div>
        </div>
        <div>
            <p class="white-text">{{ count }} / {{ numWords }}</p>
        </div>
        <div class="row">
            <p class="white-text">Quelle traduction donnez-vous pour :</p>
        </div>
        <div class="row">
            <div class="flag-box">
                <div class="box rounded-input">
                    {{ content_box1 }}
                </div>
                <span class="flag">{{ flag|safe }}</span>
            </div>
            <div class="flag-box">
                <span class="flag flag-fr">&#x1F1EB;&#x1F1F7;</span>
                <div class="box rounded-input">
                    ?
                </div>
            </div>
        </div>

        <div class="row">
            <button id="showTranslationButton" class="button middle_button">Traduction</button>
        </div>
        <div class="row">
            <button id="quitButton" class="button quit_button">Quitter</button>
        </div>
    </div>
</body>

</html>
