<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Guest interro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/forms.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script src="/static/scripts/api/main.js"></script>
    <script src="/static/scripts/api/guest.js"></script>
    <script src="/static/scripts/ui/guest.js"></script>
</head>

<body>
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar full" style="width: {{ progressPercent }}%;" id="progress-bar"></div>
        </div>
        <div>
            <p class="white-text">{{ count }} / {{ numWords }}</p>
        </div>
        <div class="row">
            <p class="white-text">What is the translation for:</p>
        </div>
        <div class="row">
            <div class="flag-box">
                <div class="box rounded-input">
                    {{ content_box1 }}
                </div>
                <span class="flag">{{ flag|safe }}</span>
            </div>
            <div class="flag-box">
                <span class="flag flag-fr">&#x1F1EB;&#x1F1F7;</span>
                <div class="box rounded-input">
                    ?
                </div>
            </div>
        </div>
        <div class="row">
            <button class="button middle_button" onclick="showTranslation(
                `{{ numWords }}`, `{{ count }}`, `{{ score }}`, `{{ token }}`, `{{ language|safe }}`
                )">Show translation</button>
        </div>
        <div class="row">
            <button class="button quit-button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
