<!DOCTYPE html>
<html>

<head>
    <title>Translation Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/interro.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/pages/interro_guest.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Your score is: {{ score }} / {{ numWords }}</h1>
        </div>
        <div class="row">
            <button class="button rattraps_button" onclick="nextGuess(
                {{ newWords }}, {{ newCount }}, {{ newScore }}, `{{ token }}`
                )">Take a catch-up test</button>
        </div>
        <div class="row">
            <button class="button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
