<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Guest interro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script src="/static/scripts/api/main.js"></script>
    <script src="/static/scripts/api/guest.js"></script>
</head>

<body>
    <div class="container">
        <div class="row white-text">
            <h1>Your score is: {{ score }} / {{ numWords }}</h1>
        </div>
        <div class="row">
            <button class="button rattraps_button" onclick="nextGuess(
                `{{ newWords }}`, `{{ newCount }}`, `{{ newScore }}`, `{{ token }}`, `{{ language|safe }}`
                )">Take a catch-up test</button>
        </div>
        <div class="row">
            <button class="button" onclick="goToRoot()">Quit</button>
        </div>
    </div>
</body>

</html>
