<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Interro invité</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/interro.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/main.js"></script>
    <script type="module" src="/static/scripts/ui/guest.js"></script>
</head>

<body data-token="{{ token }}">
    <div class="container">
        <div class="row">
            <h1 class="white-text">Votre score: {{ testScore }} / {{ testLength }}</h1>
        </div>

        <div class="row">
            <button id="rattrapButton" class="button rattrap_button">Passer le rattrapage</button>
        </div>

        <div class="row">
            <button id="quitButton" class="button quit_button">Quitter</button>
        </div>
    </div>

    <script>
        // Declare HTML page variables to the JS file that will call them
        const interroCategory = `{{ interroCategory }}`;
        const newWords = `{{ newWords }}`;
        const newCount = `{{ newCount }}`;
        const newScore = `{{ newScore }}`;
        const testLanguage = `{{ testLanguage|safe }}`;
    </script>
</body>

</html>
