<!DOCTYPE html>
<html>
    
<head>
    <title>Guest interro</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/scripts/guest.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <form>
            <div class="row">
                <label class="white-text" for="test-type">Select a language</label>
            </div>
        </form>
        <table>
            <tbody>
                <tr>
                    <td><span class="flag">{{ english|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `English`)">English</button></td>
                </tr>
                <tr>
                    <td><span class="flag">{{ german|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `German`)">Deutsch</button></td>
                </tr>
                <tr>
                    <td><span class="flag">{{ dutch|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Dutch`)">Nederlands</button></td>
                </tr>
                <!-- <tr>
                    <td><span class="flag">{{ spanish|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Spanish`)">Espanol</button></td>
                </tr> -->
                <tr>
                    <td><span class="flag">{{ portuguese|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Portuguese`)">Portuges</button></td>
                </tr>
                <!-- <tr>
                    <td><span class="flag">{{ russian|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Russian`)">Pусский</button></td>
                </tr> -->
                <tr>
                    <td><span class="flag">{{ arabic|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Arabic`)">عربي</button></td>
                </tr>
                <!-- <tr>
                    <td><span class="flag">{{ hebrew|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Hebrew`)">עִבְרִית</button></td>
                </tr> -->
                <tr>
                    <td><span class="flag">{{ chinese|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Chinese`)">汉语</button></td>
                </tr>
                <tr>
                    <td><span class="flag-latin">{{ latin|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Latin`)">Latin</button></td>
                </tr>
                <tr>
                    <td><span class="flag">{{ greek|safe }}</span></td>
                    <td><button class="button" onclick="sendGuestSettings(`{{ token }}`, `Greek`)">Ancient Greek</button></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <button class="button" onclick="goToRoot()">Quit</button>
        </div>

    </div>

</body>

</html>
