<!DOCTYPE html>
<html>
    <head>
        <title>Add a word</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
        <script type="text/javascript" src="/static/scripts/main.js"></script>
        <script type="text/javascript" src="/static/scripts/users.js"></script>
        <script type="text/javascript" src="/static/scripts/database.js"></script>
    </head>

<body>
    <div class="container">

        <div class="row">

            <div class="flag-box">
                <label class="white-text" for="input1">English</label>
                <input type="text" id="input1" name="input1">
            </div>

            <div class="flag-box">
                <input type="text" id="input2" name="input2">
                <label class="white-text" for="input2">Français</label>
            </div>

        </div>

        <div class="row">
            <button class="button" onclick="addWord(`{{ token }}`, `{{ databaseName }}`)">Add word</button>
        </div>

        <div class="row">
            <button class="button quit-button" onclick="goToUserSpace(`{{ token }}`)">Quit</button>
        </div>

    </div>
</body>
</html>
