<!DOCTYPE html>
<html>

<head>
    <!-- Others -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Choisir une base</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <!-- JS -->
    <script type="module" src="/static/scripts/ui/database.js"></script>
</head>

<body data-token="{{ token }}">

    <div>
        <button id="chooseDatabaseButton" class="button">Ajouter un mot</button>
    </div>
    <div>
        <button id="deleteDatabaseButton" class="button.red">Supprimer</button>
    </div>

</body>

</html>