/* CSS file for welcome page */

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.link-list .list-group-item {
    border: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c3b9ff;
}

.container {
    text-align: center;
    padding: 20px;
}

.link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: f5f5f5   ;
    text-decoration: none;
    border-radius: 5px;
}